<%- include('./header') %>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="thumbnail">
                <img src="<%- picInfo.url %>" alt="<%= picInfo.meta.alt %>">
                <div class="caption">
                    <h3>名字：<%= picInfo.name %></h3>
                    <p>alt文本：<%= picInfo.meta.alt %></p>
                    <p>标签：<%= picInfo.meta.labels %></p>
                    <p>
                        <form action="/delpic" method="POST" data-action="delpic">
                            <input type="hidden" name="picid" value="<%- picInfo._id%>">
                            <input type="submit" class="btn btn-danger" value="删除">
                        </form>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <h3>微信访问二维码</h3>
            <img src="<%- picUrlBase64 %>" alt="">
        </div>

    </div>
</div>

<script>
    $(function () {
        $('[data-action="delpic"]').on('submit', function () {
            return confirm('确认删除这张照片吗？')
        })
    })
</script>


<%- include('./footer') %>

